<h1>Set availability for items at <%= @location.location %></h1>

<%= form_tag(update_availability_location_path(@location), method: 'put') %>
<h3><%= categoryName(0) %></h3>
<ul>
<% @candy.each do |i| %>
  <li><%= i.name %></li>
  <li>Available <%= i.stocks(@location).available %></li>
  <%= check_box_tag(i.name, i.id, checked: i.stocks ) %>

<% end %>
</ul>
<%= check_box_tag('snack', '') %>
<%= submit_tag 'Submit' %>
